{% extends 'base.html' %}
{% block title %}Add Allocation{% endblock title %}

{% block content %}
<div class="container mt-5">
  <h1 class="text-center mb-4">You can add here</h1>

  <div class="row justify-content-center">
    {% for user in users %}
      <div class="col-md-4 mb-3">
        <form method="POST" class="text-center border p-3 shadow-sm rounded">
          {% csrf_token %}
          <input type="hidden" name="user" value="{{ user.username }}">
          <input type="submit" class="btn btn-primary w-100" value="{{ user.username }}">
        </form>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
